%h1= t('sessions.new.your_access_data')
- form_tag session_path do
  %p
    = label_tag :email, User.human_attribute_name(:email)
    %br/
    = text_field_tag :email, @email
  %p
    = label_tag :password, User.human_attribute_name(:password)
    %br/
    = password_field_tag :password, nil
  %p
    = label_tag 'remember_me', t('sessions.new.remember_me')
    = check_box_tag 'remember_me', '1', @remember_me
  %p
    = submit_tag t('sessions.new.log_in')
