= t('mailer.dear_user')

= t('mailer.signup.username')

= h @user.email

= t('mailer.signup.visit_this_url_to_activate_your_account')

= @url

= t('mailer.signup.thank_you_very_much_for_use_our_site')

= t('mailer.the_team')
