!!!
%html{:lang => I18n.locale}
  = render :partial => "layouts/header"

  %body
    =render :partial => "shared/menu"
    = render_flash_messages
    %section#content.body
      = yield
    %section#extras.body
      = yield(:sidebar) || render(:partial => "shared/sidebar")
    = render :partial => "layouts/footer"
